page-login {
	.login-content{
		background: linear-gradient(#F78D53, #F45F73);
	}
	.login-header{
		display: flex;
		justify-content: center;
		color: white;
		margin-top: 50px;
		// position: relative;
		// top: 10%;

	}
	.header{
		font-size: 40px;
	}
	.lgn-crd{
		border-radius: 8px;
		z-index: 2;
		position: relative;
		width: 80%;
	}
	.forgot-pass{
	margin-top: 50px;
    justify-content: center;
    display: flex;
	}
	.login-button{
	margin-top: 40px;
    display: flex;
    justify-content: center;
	}
	.button{
		width: 55%;
		height: 45px;
	}
	.card2-container{
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 40px;
		z-index: 1;
		padding-top: 10px;
	}
	.card-2{
		position: relative;
		width: 70%;
		background: #f2f2f2;;
		display: flex;
		justify-content: center;
		border-radius: 10px;
	}
	.card1-container{
		display: flex;
		justify-content: center;
	}
}
