// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.app-content{
	background: linear-gradient(#F78D53, #F45F73);
}
.menu-content > .menu-inner{
	width : 100%;
}
.menu-content {
	width:100%;
	z-index:1;
	::-webkit-scrollbar{ display:none; } 
}
.parent-card {
	position: relative;
	top: 100px;
	z-index: 1;
	overflow: visible;
	height: 70%;left: 60%;
	background: #fabbae7a;   
    border-radius: 10px;
}
.sub-card {
	height: 105%;
	position: relative;
	bottom: 10px;
	overflow: visible;
	background: #fbddd570;  
	border-radius: 10px;
}
.sub-child-card {
	height: 106%;
	bottom: 15px;
	position: relative;   
    border-radius: 10px;	
}
.sub-menu-span{
	margin-left: 15px;
	margin-left: 20px;
	margin-top: 15px;
	color:#7797f4;
	font-size: 30px;	
}
.sub-menu-icon{
	margin-top: 25px;
}
.menu-list{
	position: relative;
	bottom: 50%;
	margin-left: 20px;
}
.menu-button {
	background-color: transparent;
    color: white;
	border: 0 !important;
	margin-bottom: 20px;
}
.menu-button:hover {
	background: #fabbae61
}

.menu-button > div {
	border:0 !important;
}

body{
	::-webkit-scrollbar{ display:none; } 
}
