page-signup {
.set-size{
	font-size: 35px;
}
.header-container{
	margin-left: 35px;
    margin-top: 50px;
    font-size: 36px;
}
.set-margin{
	margin-top: 30px;
}
.root-list{
	margin-top: 25%;
}
.signup-button{
	width: 60%;
	background: linear-gradient(to right, #F35B77 , #F7984B);
}
.button-container{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.footer{
	margin-top: 50px;
	justify-content: space-around;
	display: flex;		
}
.icon-bottom{
	color :#CBCBCB;
	margin-left: 20px;
	font-size: 25px;
}
.connect-margin {
	margin-top: 5px;
}
}
